.code-snippet {
  padding-left: 0;
}

.code-snippet-hover {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.faded-code-extras {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.3;
  font-style: italic;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 100ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.line-number {
  display: inline-block;
  margin-right: 1.5rem;
  width: 2.5rem;
  text-align: right;
}

.loc {
  margin: 0;
  white-space: pre;
}

.inline-comment {
  display: inline;
  margin-left: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.inline-comment-text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem; /* Adjust the fade width as needed */
  height: 100%;
  background: linear-gradient(to right, transparent, white);
  pointer-events: none;
  z-index: 2;
}

/* Line Notes Component */
line-notes {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 30rem;
  text-wrap: wrap;
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  visibility: hidden;
  opacity: 0;
}

.inline-comment:hover > line-notes,
line-notes:hover {
  visibility: visible;
  opacity: 1;
}

.line-notes-list {
  border-radius: 6px;
}

.line-notes-item {
  color: red;
}
