.code-snippet {
  padding-left: 0;
}

.code-snippet-hover {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.code-extras {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: italic;
}

.faded {
  opacity: 0.3;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 100ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.line-number {
  display: inline-block;
  margin-right: 1.5rem;
  width: 2.5rem;
  text-align: right;
}

.loc {
  margin: 0;
  white-space: pre;
}

.inline-comment {
  display: inline;
  margin-left: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

/* .inline-comment::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5rem;
    height: 100%;
    background: linear-gradient(to right, transparent, white);
    pointer-events: none;
    z-index: 2;
  } */
